body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
main {
  margin: 2em;
  max-width: 900px;
}
input,
select,
button {
  font-size: 1em;
  margin: .25em 0;
}
h2 {
  font-weight: 300;
  color: #777;
}
table {
  border: 1px solid grey;
  border-collapse: collapse;
}
th {
  background-color: #EEE;
}
th, td {
  border: 1px solid #BBB;
  padding: 10px;
  width: 20%;
  text-align: justify;
}
button {
  background: linear-gradient(#f1f1f1,#d9d1d1);
  font-weight: 700;
  font-size: 0.8em;
  border-radius: 3px;
  transition: .25s;
  padding: .4em;
  width: 160px;
  cursor: pointer;
}
button:hover {
  background: linear-gradient(#e0dfdf,#c0b7b7);
}
.remove {
  max-width: 300px;
  text-align: center;
}
.x {
  padding: 0;
}